# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/local.properties
android/.gradle/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# Shorebird
# shorebird.yaml is intentionally committed
